<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from preview.colorlib.com/theme/charifit/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Sep 2023 06:00:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Charifit</title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <link href="~/content/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/css/themify-icons.css">
    <link rel="stylesheet" href="~/content/css/nice-select.css">
    <link rel="stylesheet" href="~/content/css/flaticon.css">
    <link rel="stylesheet" href="~/content/css/gijgo.css">
    <link rel="stylesheet" href="~/content/css/animate.css">
    <link rel="stylesheet" href="~/content/css/slicknav.css">
    <link rel="stylesheet" href="~/content/css/style.css">
    


    <script nonce="2f7306f9-92d5-40e8-a3f8-61117a53e751">(function (w, d) { !function (bg, bh, bi, bj) { bg[bi] = bg[bi] || {}; bg[bi].executed = []; bg.zaraz = { deferred: [], listeners: [] }; bg.zaraz.q = []; bg.zaraz._f = function (bk) { return async function () { var bl = Array.prototype.slice.call(arguments); bg.zaraz.q.push({ m: bk, a: bl }) } }; for (const bm of ["track", "set", "debug"]) bg.zaraz[bm] = bg.zaraz._f(bm); bg.zaraz.init = () => { var bn = bh.getElementsByTagName(bj)[0], bo = bh.createElement(bj), bp = bh.getElementsByTagName("title")[0]; bp && (bg[bi].t = bh.getElementsByTagName("title")[0].text); bg[bi].x = Math.random(); bg[bi].w = bg.screen.width; bg[bi].h = bg.screen.height; bg[bi].j = bg.innerHeight; bg[bi].e = bg.innerWidth; bg[bi].l = bg.location.href; bg[bi].r = bh.referrer; bg[bi].k = bg.screen.colorDepth; bg[bi].n = bh.characterSet; bg[bi].o = (new Date).getTimezoneOffset(); if (bg.dataLayer) for (const bt of Object.entries(Object.entries(dataLayer).reduce(((bu, bv) => ({ ...bu[1], ...bv[1] })), {}))) zaraz.set(bt[0], bt[1], { scope: "page" }); bg[bi].q = []; for (; bg.zaraz.q.length;) { const bw = bg.zaraz.q.shift(); bg[bi].q.push(bw) } bo.defer = !0; for (const bx of [localStorage, sessionStorage]) Object.keys(bx || {}).filter((bz => bz.startsWith("_zaraz_"))).forEach((by => { try { bg[bi]["z_" + by.slice(7)] = JSON.parse(bx.getItem(by)) } catch { bg[bi]["z_" + by.slice(7)] = bx.getItem(by) } })); bo.referrerPolicy = "origin"; bo.src = "../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(bg[bi]))); bn.parentNode.insertBefore(bo, bn) };["complete", "interactive"].includes(bh.readyState) ? zaraz.init() : bg.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
</head>
<body>
    <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->

    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-lg-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-phone"></i> 03115444599</a></li>
                                    <li><a href="#"> <i class="fa fa-envelope"></i><span class="__cf_email__" data-cfemail="3861574d4a55595154785f55595154165b5755">LCWF@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-lg-4">
                            <div class="social_media_links d-none d-lg-block">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div >

                                <b style="color: #fff;">Life care welfare foundation</b>


                             
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/Home/Index">home</a></li>
                                        <li><a href="/Home/About">About</a></li>
                                        <li>
                                            <a href="/Home/Blog">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/Home/Blog">blog</a></li>
                                                <li><a href="/Home/Blog">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">elements</a></li>
                                                <li><a href="Cause.html">Cause</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/Home/Contact">Contact</a></li>
                                    </ul>
                                </nav>
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a data-scroll-nav="1" href="#">Make a Donate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody();
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="~/content/img/footer_logo.png" alt>
                                </a>
                            </div>
                            <p class="address_text">
                                Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Services
                            </h3>
                            <ul class="links">
                                <li><a href="#">Donate</a></li>
                                <li><a href="#">Sponsor</a></li>
                                <li><a href="#">Fundraise</a></li>
                                <li><a href="#">Volunteer</a></li>
                                <li><a href="#">Partner</a></li>
                                <li><a href="#">Jobs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Contacts
                            </h3>
                            <div class="contacts">
                                <p>
                                    +2(305) 587-3407 <br>
                                    <a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0861666e674864677e6d7d7b6b60697a617c71266b6765">[email&#160;protected]</a> <br>
                                    Flat 20, Reynolds Neck, North
                                    Helenaville, FV77 8WS
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Top News
                            </h3>
                            <ul class="news_links">
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="~/content/img/news/news_1.png" alt>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            <h4>
                                                School for African
                                                Childrens
                                            </h4>
                                        </a>
                                        <span>Jun 12, 2019</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="~/content/img/news/news_2.png" alt>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            <h4>
                                                School for African
                                                Childrens
                                            </h4>
                                        </a>
                                        <span>Jun 12, 2019</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                      @*  <p>
                            Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made By IT Stop Pvt ltd.
                        </p>*@
                        <p>
                            Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made For Life Care Foundation.<i class="ti-heart" aria-hidden="true"></i> by <a href="" target="_blank">IT Stop Pvt Ltd.</a>
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

   


    <script src="~/content/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/content/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/content/js/popper.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/owl.carousel.min.js"></script>
    <script src="~/content/js/isotope.pkgd.min.js"></script>
    <script src="~/content/js/ajax-form.js"></script>
    <script src="~/content/js/waypoints.min.js"></script>
    <script src="~/content/js/jquery.counterup.min.js"></script>
    <script src="~/content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/content/js/scrollIt.js"></script>
    <script src="~/content/js/jquery.scrollUp.min.js"></script>
    <script src="~/content/js/wow.min.js"></script>
    <script src="~/content/js/nice-select.min.js"></script>
    <script src="~/content/js/jquery.slicknav.min.js"></script>
    <script src="~/content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/content/js/plugins.js"></script>
    <script src="~/content/js/gijgo.min.js"></script>

    <script src="~/content/js/contact.js"></script>
    <script src="~/content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/content/js/jquery.form.js"></script>
    <script src="~/content/js/jquery.validate.min.js"></script>
    <script src="~/content/js/mail-script.js"></script>
    <script src="~/content/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"802cbbaa4b16a06c","version":"2023.8.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/charifit/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Sep 2023 06:01:19 GMT -->
</html>